include main

mixin content
  each centile in data
    h2 
      titlecase
        | #{centile.label}
      if centile.val != null
        | (inférieur à #[+value(Math.round(centile.val))] €)
    each sub in centile.subs
      p #[+agrisub(sub)]
