
//- sur organisme
mixin nom_benef(organisme)
  | §<i>#{organisme.nom_beneficiaire}</i>§



//- sur detail

//-
  quand la date vient d'un JSON c'est encore une string
mixin date_conv(detail)
  -
    var date_convention;
    if (detail.date_convention instanceof Date) {
      date_convention = detail.date_convention;
    }
    if (typeof(detail.date_convention) === 'string') {
      date_convention = new Date(detail.date_convention);
    }
  | #[+value(date_convention, {dateFormat:'Do MMMM YYYY'})]

mixin montant_conv(detail)
  if (detail.montant>1000000)
    | §<b>#[+value(detail.montant)] €</b>§
  else
    | #[+value(detail.montant)] €

mixin objet_conv(detail)
  | §<i>#{detail.objet_convention}</i>§
