include helper

mixin projets_cluster(cluster)
  eachz label in cluster.sameLabels with { separator: ',', last_separator: 'et' }
    | §<i>#{label}</i>§
  | , #[+value(cluster.total_cluster)] € en tout :
  ul
    each detail in cluster.elts
      li
        | le #[+date_conv(detail)], #[+montant_conv(detail)]

mixin agrisub(sub)
  if sub.clusters.length == 1
    - var cluster = sub.clusters[0];
    | #[+nom_benef(sub)] a reçu une subvention de #[+value(sub.total)] €
    if cluster.elts.length == 1
      - var detail = cluster.elts[0];
      |
      | le #[+date_conv(detail)] pour #[+objet_conv(detail)].
    else
      | , pour les projets #[+projets_cluster(cluster)]

  else
    | #[+nom_benef(sub)]
    synz
      syn
        | a touché
      syn
        | a reçu
    synz
      syn
        | au total
      syn
        | en tout
    | #[+value(sub.total)] € de subventions :
    ul
      each cluster in sub.clusters
        if cluster.elts.length == 1
          - var projet = cluster.elts[0];
          li Pour le projet #[+objet_conv(projet)], #[+montant_conv(projet)] le #[+date_conv(projet)]
        else
          li Pour les projets #[+projets_cluster(cluster)]
