include ../templates/content

mixin intro
  protect
    p
      a(href='https://www.data.gouv.fr/en/datasets/subventions-de-plus-de-23-000-euros-attribuees-par-le-ministere-de-lagriculture/') Agrisub
      |
      | liste les subventions de plus de 23 000 euros attribuées par le ministère de l'agriculture
      | aux associations et organismes de droit privé.
    p
      | Ces textes sont une retranscription textuelle des données Agrisub.

html
  head
    include meta.pug

    title Subventions Agricoles
  body
    h1 Subventions du MAA - Ministère de l'Agriculture et de l'Alimentation

    | #[+intro]
    +content
