include ../templates/helper

mixin detail(data)
  - var detail = data.detail;
  - var organisme = data.organisme;
  div
    synz
      syn
        | Le projet #[+objet_conv(detail)] 
        | a reçu #[+montant_conv(detail)] de financement 
        | le #[+date_conv(detail)]
      syn
        | Le #[+date_conv(detail)],
        | #[+montant_conv(detail)] ont été reçus
        | par #[+nom_benef(organisme)]
        | pour le projet #[+objet_conv(detail)]
      syn
        | #[+montant_conv(detail)] ont été reçus
        | pour le projet #[+objet_conv(detail)]
        | le #[+date_conv(detail)]
    | .
  div
    - var pourcent = Math.round( (detail.montant/organisme.total)*100 );
    synz
      syn
        | Pour #[+nom_benef(organisme)],
        | cela représente #[+value(pourcent)] %
        | d'une subvention totale de #[+value(organisme.total)] €.
      syn
        | Ce projet représente #[+value(pourcent)] %
        | des subventions reçues par #[+nom_benef(organisme)]
        | soit #[+value(organisme.total)] €
      syn
        | #[+nom_benef(organisme)] a reçu
        | #[+value(organisme.total)] € de subventions.
        | ce projet représente #[+value(pourcent)] % de ces subventions
    | .
